@model WebApplication1.Models.AnswerModel

@{
    ViewBag.Title = "ViewAnswer";
}

<div class="container">
    <div class="col-md-12">
        <p>




        </p>
        <p>




        </p>
        <p>
            @Html.DisplayFor(model => model.AnswerDescription)
        </p>
        <div>
            <span class="badge">Posted @Html.DisplayFor(model => model.CreationDate)</span><div class="pull-right">
                <span class="label label-default">Votes: @Html.DisplayFor(model => model.Votes)</span> <span class="label label-primary">By: @Html.DisplayFor(model => model.OwnerName)</span> 
                @if (Model.isCorrect)
                {
                    <span class="label label-success">Correct Answer!</span>
                }
            </div>
        </div>
        <hr>

    </div>
    </div>
       <a href="@Url.Action("MeGusta","Answer", new { id = Model.Id })">
    <button type="button" class="btn btn-success">ThumbsUp! </button>

</a>
<a href="@Url.Action("NoMeGusta", "Answer", new {id = Model.Id})">

    <button type="button" class="btn btn-danger">ThumbsDown! </button>

</a>
<a href="@Url.Action("Correcta","Answer", new { id = Model.Id })">
    <button type="button" class="btn btn-info">Correct! </button>
</a>