@model WebApplication1.Models.ProfileModel

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div>
    <h4>ProfileModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastSeen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastSeen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vistas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vistas)
        </dd>
        <strong>Latest 5 Questions</strong>

        @if (Model.preguntas != null)
        {
            foreach (var q in Model.preguntas)
            {

                if (q != null)
                {
                    
                        @Html.ActionLink(q.Title, "Detail", "Question", new { Id = q.Id }, null)   @q.CreationDate

                   
                }
            }
        }
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
