@model WebApplication1.Models.CreateQuestionModel
<link rel="stylesheet" type="text/css" href="/Scripts/mdd_styles.css" />
<script type="text/javascript" src="/Scripts/jQuery-2.1.3.min.js"></script>
<script type="text/javascript" src="/Scripts/MarkdownDeepLib.min.js"></script>
@{
    ViewBag.Title = "CreateQuestion";
}

<h2>CreateQuestion</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CreateQuestionModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <div style="word-wrap: break-word;">
                    <div class="mdd_toolbar" style="height: 30px;"></div>
                    @Html.TextAreaFor(model => model.Description, new {@class = "mdd_editor", style = "width:800px; height:100px;"})
                    @Html.ValidationMessageFor(model => model.Description)
                 </div>
            </div>
        </div>
        <script>
            $("textarea.mdd_editor").MarkdownDeep({
                help_location: "/Scripts/mdd_help.html",
                ExtraMode: true, disableTabHandling: true

            });
        </script>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                <input type="submit" value="Ask" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
