
@model WebApplication1.Models.DetailModel
<link rel="stylesheet" type="text/css" href="/Scripts/mdd_styles.css" />
<script type="text/javascript" src="/Scripts/jQuery-2.1.3.min.js"></script>
<script type="text/javascript" src="/Scripts/MarkdownDeepLib.min.js"></script>
@if (ViewBag.Message != null)
{
    <div class="alert alert-danger" role="alert">@ViewBag.Message</div>
}
<div class="col-md-20 content">
    <div class="panel panel-default">
        <div class="panel-heading">
           @Html.DisplayFor(model => model.Title)
        </div>
        <div class="panel-body">
            <p>
                @Html.Raw(Model.Description)
            </p>
            
                <h2>
                    @Html.DisplayFor(model => model.Votes) <small> votes </small>
                </h2>
            

            <a href="@Url.Action("MeGusta", "Question", new {id = Model.Id})">
                <button type="button" class="btn btn-success">ThumbsUp! </button>

            </a>
            <a href="@Url.Action("NoMeGusta", "Question", new {id = Model.Id})">

                <button type="button" class="btn btn-danger">ThumbsDown! </button>

            </a>
        </div>
    </div>
</div>



<div class="row">
    @{Html.RenderAction("Index", "Answer", new { questionId = Model.Id });}
    @using (Html.BeginForm("CreateAnswer", "Answer", new {questionId = Model.Id}))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>AnswerCreateModel</h4>
        <hr />
        @Html.ValidationSummary(true)


        <div class="col-md-10">
            <div style="word-wrap: break-word;">
                <div class="mdd_toolbar" style="height: 30px;"></div>
                @Html.TextAreaFor(model => model.AnswerDescription, new { @class = "mdd_editor", style = "width:800px; height:100px;" })
                @Html.ValidationMessageFor(model => model.AnswerDescription)
            </div>
        </div>
    <script>
        $("textarea.mdd_editor").MarkdownDeep({
            help_location: "/Scripts/mdd_help.html",
            ExtraMode: true, disableTabHandling: true

        });
    </script>
            <div class="form-group">
                @*@Html.LabelFor(model => model.QuestionId, new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.QuestionId)
                        @Html.ValidationMessageFor(model => model.QuestionId)*@
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Answer" class="btn btn-default"/>
                </div>
            </div>
        </div>
         
    }
</div>
