@model IEnumerable<WebApplication1.Models.QuestionListModel>

@{
    ViewBag.Title = "Index";
}

<h2><u>Index</u></h2>

<p>
    @Html.ActionLink("Create New", "CreateQuestion")
</p>
<table class="table">
    <tr style="background: darkcyan ">
        <th>
            <font style="color:ivory">
                @Html.DisplayNameFor(model => model.Title)
            </font>
        </th>
        <th>
            <font style="color:ivory">
                @Html.DisplayNameFor(model => model.Votes)
            </font>
        </th>
        <th>
            <font style="color:ivory">
                @Html.DisplayNameFor(model => model.CreationTime)
            </font>
        </th>
        <th>
            <font style="color:ivory">
                @Html.DisplayNameFor(model => model.OwnerName)
            </font>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="background: aliceblue">
        <td>
           
            @Html.ActionLink(item.Title, "Detail", new {id = item.QuestionId}, null)
            
            @* @Html.DisplayFor(modelItem => item.Title)*@
        </td>
        <td class=" text-success">
            <b>
            @Html.DisplayFor(modelItem => item.Votes)
            </b>
        </td>
        <td class =" text-success">
            <b>
                @Html.DisplayFor(modelItem => item.CreationTime)      
            </b>
          
        </td>
        <td class=" text-success">
            @Html.ActionLink(item.OwnerName, "Profile", "Account", new { id = item.OwnerId }, null)
            @*@Html.DisplayFor(modelItem => item.OwnerName)*@
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.QuestionId}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.QuestionId })
        </td>*@
    </tr>
}

</table>
